CREATE TABLE bienes_no_perecederos (
  id INT AUTO_INCREMENT PRIMARY KEY,
  numero_bien VARCHAR(50) UNIQUE NOT NULL,
  descripcion TEXT NOT NULL,
  marca VARCHAR(100),
  modelo VARCHAR(100),
  color VARCHAR(50),
  serial VARCHAR(100) UNIQUE,
  ubicacion_exacta VARCHAR(255),
  estado ENUM('disponible', 'asignado', 'mantenimiento', 'baja') DEFAULT 'disponible',
  fecha_ingreso TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  area_asignada VARCHAR(100),
  responsable VARCHAR(100)
);
